@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500');
@import 'variables';
@import 'typography';

img {
	max-width: 100%;
	height: auto;
}

.featured-image {
	background-size: cover;
	background-position: center center;
	min-height: 350px;
}

.single {
	&.no-featured-image {
		article {
			margin-top: 4em;
		}
	}
}

article {
	&.with-featured-image {
		header {
			.the-title {
				margin-top: 0.75em;
			}
		}
	}

	&.page {
		header {
			.the-title {
				text-align: center;
			}
		}
	}

	header {
		margin-bottom: 1.5em;

		.the-title {
			line-height: 140%;
		}
	}

	main.the-content {
		line-height: 180%;
		text-align: justify;
	}

	.separator {
		&:last-child {
			display: none;
		}
	}

	.separator:last-child {
		display: none;
	}
}

.blog,
.archive {
	article {
		border-bottom: 1px solid $lightest-grey;
		margin: 2em 0;
		padding-bottom: 1em;
	}
}

.btn-primary {
	background-color: $universe-blue;
	border-color: rgba(0, 0, 0, 0.1);

	&:hover {
		background-color: $universe-blue-darker;
		border-color: rgba(0, 0, 0, 0.1);
	}
}

.site-footer {
	margin-top: 2em;
	padding: 1em 0;
	background-color: $site-footer-background-color;
}

.sidebar {
	.widget {
		&:first-child {
			margin-top: 0;
		}
		
		&:last-child {
			border-bottom: 0;
		}

		h2 {
			font-size: 1.25em;
			margin-bottom: 0.75em;
		}

		border-bottom: 1px solid $lightest-grey;
		margin: 1.5em 0;
		padding-bottom: 1.5em;
	}
}

/*
.container,
.container-fluid {
	background-color: #5f5;
}

.row {
	background-color: #ff5;
}

*[class^='col-'] {
	background-color: #5f5;

	&:nth-child(odd) {
		background-color: #f55;
	}

	&:nth-child(even) {
		background-color: #55f;
	}
}
*/

#top-search-form {
	display: none;
}
