@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500');
@import 'typography';
@import 'variables';

article {
	header {
		margin-bottom: 1.5em;

		.the-title {
			line-height: 140%;
		}
	}

	main.the-content {
		line-height: 180%;
		text-align: justify;
	}
}

.site-footer {
	margin-top: 2em;
	padding: 1em 0;
	background-color: $site-footer-background-color;
}

.sidebar {
	.widget {
		&:first-child {
			margin-top: 0;
		}
		
		&:last-child {
			border-bottom: 0;
		}

		h2 {
			font-size: 1.25em;
			margin-bottom: 0.75em;
		}

		border-bottom: 1px solid $lightest-grey;
		margin: 1.5em 0;
		padding-bottom: 1.5em;
	}
}