$grey: #555;
$dark-grey: #444;
$darker-grey: #222;
$medium-grey: #888;
$lightest-grey: #eee;

$marwin-grey: #6e5d53;
$universe-blue: #0eb5de;
$universe-blue-darker: darken($universe-blue, 10%);

$text-color: $dark-grey;
$site-footer-background-color: $marwin-grey;
